aiobotocore
aiohappyeyeballs
aiohttp
aiohttp-retry
aioitertools
aiosignal
alembic
amqp
aniso8601
annotated-types
antlr4-python3-runtime
anyio
appdirs
asyncssh
atpublic
attrs
awscli
backoff
billiard
blinker
boto3
botocore
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpickle
colorama
commonmark
configobj
contourpy
cryptography
cycler
dacite
dagshub
databricks-sdk
dataclasses-json
Deprecated
dictdiffer
diskcache
distro
docker
docutils
dpath
dulwich
dvc
dvc-data
dvc-http
dvc-objects
dvc-render
dvc-s3
dvc-studio-client
dvc-task
entrypoints
filelock
Flask
flatten-dict
flufl.lock
fonttools
frozenlist
fsspec
funcy
fusepy
gitdb
GitPython
google-auth
gql
grandalf
graphene
graphql-core
graphql-relay
greenlet
gto
h11
httpcore
httpx
hydra-core
idna
importlib_metadata
iterative-telemetry
itsdangerous
Jinja2
jmespath
joblib
kiwisolver
kombu
Mako
Markdown
MarkupSafe
marshmallow
matplotlib
mlflow==2.2.2
mlflow-skinny
multidict
mypy-extensions
networkx
nltk
numpy
omegaconf
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
packaging
pandas
pathspec
pathvalidate
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydot
pygit2
Pygments
pygtrie
pyparsing
python-dateutil
pytz
PyYAML
querystring-parser
regex
requests
requests-toolbelt
rfc3986
rich
rsa
ruamel.yaml
ruamel.yaml.clib
s3fs
s3transfer
scikit-learn
scipy
scmrepo
semver
shellingham
shortuuid
shtab
six
smmap
sniffio
SQLAlchemy
sqlparse
sqltrie
tabulate
tenacity
threadpoolctl
tomlkit
tqdm
treelib
typer
typing-inspect
typing_extensions
tzdata
urllib3
vine
voluptuous
waitress
wcwidth
Werkzeug
wrapt
yarl
zc.lockfile
zipp
prometheus_client

-e .